<%= simple_form_for [:admin, @photo] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :image %>
    <%= f.input :status, collection: Photo.statuses %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>

  <%= button_to 'Delete', admin_photo_path(@photo), method: :delete, class: 'btn btn-danger' %>
<% end %>
